mixin experience_content(itemlist,misc)
  each item in itemlist
    li                    
      h5.detail-title 
        span= item.place 
        time #{item.start} - #{item.end}
      dl.detail-list
        dt #{misc.post}：#{item.position}
        each des in item.description
          dd= des

mixin personal_content(itemlist)
  each value in itemlist
    each item in value.description
      li                    
        p.introduce!= highlight(item)

mixin education_content(itemlist,misc)
  each item in itemlist
    li                    
      h5.detail-title 
        span= item.time
      p.major #{misc.major}：#{item.major}
      if(item.language)
        p.language #{misc.level}：#{item.language}

mixin projects_content(itemlist,misc)
  each item in itemlist
    li                    
      h5.detail-title 
        span= item.name
      dl.detail-list
        dt 
          a.project-links(href=item.source,target="_blank") #{misc.source}
          unless (!item.demo)
            a.project-links(href=item.demo,target="_blank") Demo
        each des in item.description
          dd= des
          
mixin session(name,content,data,misc1)
  session
    h3.session_title= name
    ul.detail
      +#{content + "_content"}(data,misc1)


mixin myInfo(itemlist,misc)
  session.info
    +verButton(misc)
    .my-title
      h1.name= itemlist.name  
      h5.title= itemlist.title
    address
      ul.contact
        each item,key in itemlist.contact
          li
            if (key == 'email')
              i(class="fa fa-envelope" aria-hidden="true")
              a(href='mailto:'+item) #{item}
            else if (key == 'wechat') 
              i(class="fa fa-"+key+"" aria-hidden="true") 
              a(href=item.qrcode target="_blank") #{item.id}
              br
              +qrcode(item) 
            else if(key == 'file-word-o')
              i(class="fa fa-"+key+"" aria-hidden="true") 
              a(href=item.URL target="_blank") #{item.name}
            else 
              i(class="fa fa-"+key+"" aria-hidden="true") 
              a(href=item target="_blank") #{item}

mixin verButton(misc)
  // toggle class
  - var s = misc.selected =='cn'
  .lang-panel
    a(
      class=s ? "selected" : "" 
      href="https://dxcqcv.github.io/resume/html/index.html") 中 
    a(
      class=s ? "" : "selected" 
      href="https://dxcqcv.github.io/resume/html-en/index.html") en


mixin qrcode(data)
  img.qrcode-img(src=data.qrcode,alt=data.id)&attributes(attributes)
